

 /*background*/
body{
    
    font-family: "ariel", sans-serif ;
    text-align: center;
    background-color: #AFA2FF;
 } 
 
 /*add background color to the top navigation*/

 .topnav{

    background-color: #533af4;
    overflow: hidden;

 }

 /* style the links inside the navigation bar */

 .topnav a{

    float: left;
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:17px;

 }

 /*change the color of links on hover */

 .topnav a:hover{

    background-color: #ddd;
    color:black;

 }

 /* add a color to the active/current link */

 .topnav a.active{

    background-color:#533af4;
    color: white;

 }
 
 /*font*/
 #title{
           font-family: "ariel",sans-serif;
           color:rgb(0, 0, 0);
           background-color: #AFA2FF;
           font-size:30px;
       }

#sub_title{


    background-color: #AFA2FF;


}
 


/*introduction*/
h3{
           
        
           font-size:20px;
           color: rgb(0, 0, 0)
           
          
    
       
       }
    
p{
    
           font-size:18px;
           color:rgb(0, 0, 0)
       }

/*image for introduction*/
       
       .pexel_images{

         padding-top: 10px;
         width: auto;
         height:300px
           

        
       }

/* index */

.index{

    text-align:left;


}

